<div class="classroom">
    <app-header :title="title" :subtitle="date"></app-header>
    <button class="i-need-help" v-on:click="iNeedHelp()"></button>
    <!--<div class="classroom-topics-container">-->
        <!--<div class="classroom-topics" v-on:click="aMethod()">-->
            <!--<div class="classroom-topics-topic-container" v-for="topic in topics" v-on:click="tapTopic(topic.id)">-->
                <!--<topic :topic-data="topic" :topic-id="topic.id" ></topic>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
